.horizontal-scroll-except-first-column {
  width: 100%;
  overflow: auto;
}

.horizontal-scroll-except-first-column > table {
  margin-left: 21px;
}

.horizontal-scroll-except-first-column > table > * > tr > td:first-child {
  position: absolute;
  background: white;
  width: 22px;
  height: 30px;
  margin-left: -25px;
  text-align: center;
  z-index: 5;
}

.horizontal-scroll-except-first-column > table > * > tr > th,
.horizontal-scroll-except-first-column > table > * > tr > td {
  /* Without this, if a cell wraps onto two lines, the first column
   * will look bad, and may need padding. */
  white-space: nowrap;
}

.noteMark > td {
  text-align: center;
  height: 20px;
}

input[type=number] {
  width: 45px;
}

.noteSettingBox {
  display: inline-block;
  margin-right: 50px;
 padding-bottom: 15px;
}

.accidental {
  margin: 0;
  margin-left: 17px;
  position: absolute; 
}

.accidental1 {
  margin-top: -30px;
}

.accidental2 {
  margin-top: -32px;
}